.dswp-vertical-card-with-icon {

	figure {
		justify-self: center;

		img {
			height: auto;
			width: 65px !important;
		}
	}

	gap: 1rem;

	.dswp-vertical-card {
		border-radius: 8px !important;
		height: 100%;
		display: flex;
		flex-direction: column;

		.dswp-flex-box {
			display: flex;
			flex-direction: column;
			flex: 1;

			> .wp-block-group {
				align-content: flex-end;
				justify-content: space-between;
			}
		}


		:where(figure) {
			margin: 0 0 0;
		}
	}

}

@media (max-width: $break-large) {

	.dswp-vertical-cards {
		display: block !important;
	}
}
