.dswp-icon-with-excerpt {

	.dswp-image-container {

		figure {
			background: var(--dswp-theme-gray-30);
			padding: 16px;
			border-radius: 100%;
			display: flex;
			aspect-ratio: 1;
			justify-content: center;
			flex-direction: column;

			img {
				min-width: 36px !important;
				height: auto !important;
			}
		}
	}

	.dswp-excerpt {
		margin-left: 5.2rem;
	}
}

@media (max-width: $break-medium) {

	.dswp-icon-with-excerpt {

		.dswp-excerpt {
			margin-left: 0;
		}
	}
}
