.dswp-information-contact-socials-cards {
	border-radius: var(--dswp-layout-border-radius-large) !important;

	.dswp-box-header {
		border-top-right-radius: inherit;
		border-top-left-radius: inherit;
	}

	.dswp-information-contact-socials-card {
		margin-top: 1rem !important;
		margin-bottom: 1rem !important;
		align-self: flex-start !important;
	}
}


.dswp-information-contact-socials-card-img-group {
	display: flex;
	justify-content: center;

	>figure {
		height: 70px;
		width: 70px;
		align-content: center;
		text-align: center;
	}

	.dswp-information-contact-socials-card-img {
		border-radius: 50%;
		border: solid 2px var(--dswp-medium-gray);

		img {
			width: 45px;
		}
	}
}