.dswp-excerpt-img-group {
	display: flex;
	justify-content: center;

	> figure {
		height: 90px;
		width: 90px;
		align-content: center;
		text-align: center;
	}

	.dswp-excerpt-img {
		border-radius: 50%;
		background-color: var(--dswp-surface-color-background-light-gray);
	}
}

