.dswp-vertical-cards-with-icon {
	gap: 1rem;

	.dswp-vertical-card-with-icon {
		border-radius: 8px !important;
		height: 100%;
		display: flex;
		flex-direction: column;
		border: solid 2px var(--dswp-medium-gray) !important;

		.wp-block-columns {
			flex-wrap: nowrap !important;
			border-radius: inherit;
		}

		.dswp-flex-box {
			display: flex;
			flex-direction: column;
			flex: 1;

			> .wp-block-group {
				align-content: flex-end;
				justify-content: space-between;
			}
		}

		figure {
			justify-self: center;

			img {
				object-fit: cover;
				width: 100px;
			}
		}


		:where(figure) {
			margin: 0 0 0;
		}
	}

}

@media (max-width: $break-large) {

	.dswp-vertical-cards-with-icon {
		display: block !important;
	}
}
