@media (max-width: $break-medium) {

	.dswp-horizontal-card-large-img {

		img {
			width: 100% !important;
		}

		&.dswp-image-stack-reverse {
			flex-wrap: wrap-reverse !important;
		}
	}
}

.dswp-horizontal-card-large-img {
	gap: 0;
	border-radius: 8px;
	overflow: hidden;
	border: 1px solid var(--dswp-surface-color-border-default) !important;


	.dswp-image-column {
		align-self: inherit;

		figure,
		.components-resizable-box__container {
			display: flex;
			height: 100%;
			margin: 0;
		}

		.components-resizable-box__container {
			flex-shrink: inherit !important;
			display: inherit !important;
		}

		img {
			object-fit: cover;
		}
	}
}
