@media (max-width: $break-medium) {

	.dswp-horizontal-card-large-img-left {

		img {
			width: 100% !important;
			border-radius: 8px 8px 0 0 !important;
		}
	}
}

.dswp-horizontal-card-large-img-left {
	transition: box-shadow 0.3s ease-in;

	&:hover {
		transition: box-shadow 0.5s ease-out;
		box-shadow:
			0 1.2px 3.6px 0 rgba(0, 0, 0, 0.1),
			0 6.4px 14.4px 0 rgba(0, 0, 0, 0.13);
	}

	gap: 0;
	border-radius: 8px;
	overflow: hidden;
	border: 1px solid var(--dswp-surface-color-border-default) !important;

	.wp-block-column:first-child {
		align-self: inherit;

		figure,
		.components-resizable-box__container {
			display: flex;
			height: 100%;
			margin: 0;
		}

		.components-resizable-box__container {
			flex-shrink: inherit !important;
			display: inherit !important;
		}

		img {
			object-fit: cover;
		}
	}
}
