@media (max-width: $break-medium) {

	.dswp-horizontal-card {

		img {
			width: 100% !important;

			// Apply padding only for the mobile range
			@media (min-width: $break-mobile) {
				padding: 4rem !important;
			}
		}
	}
}

.dswp-horizontal-card {
	gap: 0;
	border-radius: 8px;
	border: 1px solid var(--dswp-surface-color-border-default) !important;

	img {
		height: 222px;
		border-radius: 8px 0 0 8px;
		padding: 1rem;
	}

	:where(figure) {
		margin: 0 0 0;
	}
}

