.dswp-information-contact-socials-cards {
	border-radius: var(--dswp-layout-border-radius-large) !important;

	.dswp-information-contact-socials-card {
		margin-top: 1rem !important;
		margin-bottom: 1rem !important;
	}
}

