:root {
	--dswp-typography-regular-H1: var(--bcds-typography-font-size-h1);
	--dswp-typography-regular-H2: var(--bcds-typography-font-size-h2);
	--dswp-typography-regular-H3: var(--bcds-typography-font-size-h3);
	--dswp-typography-regular-H4: var(--bcds-typography-font-size-h4);
	--dswp-typography-regular-H5: var(--bcds-typography-font-size-h5);
}
