<!-- wp:template-part {"slug":"header","theme":"alphagov-wordpress-theme","area":"header"} /-->

<!-- wp:group {"tagName":"main","templateLock":false,"lock":{"move":false,"remove":false},"metadata":{"name":"Content Block"},"style":{"spacing":{"padding":{"right":"0rem","left":"0rem"}}},"className":"bcgov-body-content post-content","layout":{"type":"default"}} -->
<main id="post-content" class="wp-block-group bcgov-body-content post-content" style="padding-right:0rem;padding-left:0rem"><!-- wp:group {"metadata":{"name":"Padding Aware Group"},"align":"wide","layout":{"type":"constrained"}} -->
  <div class="wp-block-group alignwide"><!-- wp:post-title {"level":1,"lock":{"move":false,"remove":false},"align":"wide","style":{"spacing":{"margin":{"right":"0","left":"0"}}}} /--></div>
  <!-- /wp:group -->
  
  <!-- wp:post-content {"lock":{"move":false,"remove":false},"layout":{"type":"default"}} /--></main>
  <!-- /wp:group -->
  
  <!-- wp:template-part {"slug":"footer","theme":"alphagov-wordpress-theme","area":"footer"} /-->